body {
	background-color: lightgray;
}

/*to target a class in a css file use a period first */
.first-class {
	color: green;
}

.second-class {
	font-size: 24px;
}

/* color will change the font color*/
#number-one {
	color: red;
}

#number-two {
	font-size: 16px;
}



